.table-row-cell:odd{
    -fx-background-color: #2B8A6815;
    -fx-border-color: #eeeeee;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #2B8A6840;
    -fx-text-fill: white;
}
.list-cell:filled:hover {
    -fx-background-color: #2B8A6820;
    -fx-text-fill: white;
}

#delete-icon, #rename-icon {
    -fx-fill: #FFF;
}