.check-box .box {
    -fx-background-color: #2B8A6815;
    -fx-border-radius: 3px;
}

.check-box:selected .mark {
    -fx-background-color: #2B8A68;
}

.check-box:selected .box {
    -fx-background-color: #2B8A6815;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 90px;
}

.tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tab-pane .tab {
    -fx-background-color: #2B8A68;

}

.tab-pane .tab:selected {
    -fx-background-color: #2B8A6815;

}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #FFF;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #383636;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}

.text-field {
    -fx-background-color: #2B8A6815;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}

.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background;
}